<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.persist.ConfigMapper" >
  <resultMap id="BaseResultMap" type="config" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="isDel" property="isdel" jdbcType="INTEGER" />
    <result column="cUid" property="cuid" jdbcType="VARCHAR" />
    <result column="cTime" property="ctime" jdbcType="BIGINT" />
    <result column="uUid" property="uuid" jdbcType="VARCHAR" />
    <result column="uTime" property="utime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, name, code, value, description, isDel, cUid, cTime, uUid, uTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ec_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ec_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="config" >
    insert into ec_config (id, type, name, 
      code, value, description, 
      isDel, cUid, cTime, 
      uUid, uTime)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=INTEGER}, #{cuid,jdbcType=VARCHAR}, #{ctime,jdbcType=BIGINT}, 
      #{uuid,jdbcType=VARCHAR}, #{utime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="config" >
    insert into ec_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
      <if test="cuid != null" >
        cUid,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
      <if test="uuid != null" >
        uUid,
      </if>
      <if test="utime != null" >
        uTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="cuid != null" >
        #{cuid,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="config" >
    update ec_config
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="cuid != null" >
        cUid = #{cuid,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        uUid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="utime != null" >
        uTime = #{utime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="config" >
    update ec_config
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=INTEGER},
      cUid = #{cuid,jdbcType=VARCHAR},
      cTime = #{ctime,jdbcType=BIGINT},
      uUid = #{uuid,jdbcType=VARCHAR},
      uTime = #{utime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	SELECT * FROM ec_config order by uTime desc
  </select>
</mapper>